<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <div id='quiz'>
    <div id='probrem'>What is this?</div>
    <div class='answer' id='answer1'>A</div>
    <div class='answer' id='answer2'>B</div>
    <div class='answer' id='answer3'>C</div>
    <div class='answer' id='answer4'>D</div>
  </div>
  <script type="text/javascript" src="/javascripts/developer_quiz.js"></script>
</body>

</html>